.Wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.text{
    font-size: 18px;
    font-weight: 500;
    line-height: 1.56;
    color: #212529;
    text-align: center;
    &Numbers{
        font-weight: bold;
    }
}
.companiesList{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
