.TenderGrid {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    max-width: 1262px;
    padding: 0 15px;
    margin: 0 auto;
    font-family: "Inter", sans-serif;
    align-items: flex-start;
    
}